html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 60px;
    max-width: 800px;
}

.parent {
    background-color: #2E74B5;
    border-radius: 5px;
    padding: 20px 0;
    box-shadow: 1px 1px 10px -2px black;
    width: 600px;
    /* padding: 40px 0; */
    height: 200px;
    display: flex;
    /* flex-flow: nowrap row; */
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}

.child {
    background-color: rgb(238, 238, 238);
    color: black;
    font-size: 25px;
    font-family: Georgia, serif;
    padding: 20px 40px;
    /* width: 33.333%; */
    margin: 0 10px;
    /* flex-grow: 1; */
    text-align: center;
    border-radius: 5px;
    border: 0.5px solid gray;
    /* box-shadow: 1px 1px 6px -2px black; */
    display: inline-block;
    /* vertical-align: middle; */
}