html {
    box-sizing: border-box;
    max-width: 1000px;
    /* margin-left: 40px; */
    font-size: 16px;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.parent {
    margin: 50px 20px;
    width: 130px;
    /* display: inline-block; */
    height: 100px;
    background-color: #2E74B5;
    border-radius: 5px;
    /* padding: 1px; */
    /* border: 1px solid transparent; */
    /* margin-top: -1px; */
    box-shadow: 1px 1px 10px -2px black;
    /* resize: vertical; */
    /* overflow: hidden; */
    /* position: relative; */
    /* margin-top: -1px;
    padding-top: 1px; */
    /* float: left; */
}

.child {
    /* display: inline-block; */
    width: 70px;
    height: auto;
    border-radius: 5px;
    border: 0.5px solid gray;
    box-shadow: 1px 1px 6px -2px black;
    background-color: rgb(238, 238, 238);
    font-family: Georgia, serif;
    font-size: 26px;
    padding: 10px 20px;
    text-align: center;
    /* margin: 30px 50px; */
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
}

.child.second {
    /* margin: 0 auto; */
    background-color: #DEEAF6;
    border: 1px solid #2E74B5;
    color: #2E74B5;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    /* margin-top: 10px; */
    /* margin-bottom: 30px; */
}
.child.first {
    border: 1px solid gray;
    color: gray;
    /* margin-left: 10px; */
    /* margin-right: 40px; */
    /* margin-top: -10px; */
    /* margin-bottom: -30px; */
}

.child p {
    /* position: relative; */
    /* top: calc(50% - 1em); */
    /* transform: translateY(-50%); */
    /* margin: 0; */
}

.lorem {
    /* white-space: nowrap; */
    display: inline-block;
    width: 150px;
    width: max-content;
    /* height: 100px; */
    /* font-size: 2rem;   */
    background-color: #DEEAF6;
}