@import url("finerprint.css") print;
@media only screen and (orientation: landscape) {
    body {
        /* background-color: lightyellow; */
    }
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 100px 60px;
    max-width: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parent {
    background-color: #2E74B5;
    /* color: white; */
    border-radius: 5px;
    box-shadow: 1px 1px 10px -2px black;
    width: 350px;
    height: 200px;
    /* padding: 16px; */
    
    /* position: relative; */
    /* display: flex; */
    /* flex-flow: wrap row; */
    /* align-items: flex-start; */
    /* align-content: flex-start; */
    /* justify-content: space-between; */
    /* text-align: center; */
}

.child {
    /* background-image: url('tree.jpg');
    background-repeat: no-repeat;
    background-position: 25% 70%; */
    /* background-attachment: fixed; */
    /* background-position:unset; */
    /* background-size: 34%; */
    /* background-position-y: center; */
    
    background-color: rgb(238, 238, 238);
    color: #000;
    font-size: 25px;
    font-family: Georgia, serif;
    text-align: center;
    width: 80px;
    /* height: 100px; */
    border-radius: 5px;
    border: 0.5px solid gray;
    box-shadow: 1px 1px 6px -2px black;
    margin: 5px;
    padding: 15px;
    /* height: 50%; */
        
    /* position: absolute; */
    /* flex-basis: 100%; */
    /* width: 100%; */
    /* width: 33.333%; */
    /* margin: 0 10px; */
    /* flex-grow: 1; */
    /* display: inline-block; */
    display: block;
    /* align-self: center; */
    /* vertical-align: middle; */
}

.div {
    background-color: lightgray;
    color: #000;
    font-size: 25px;
    font-family: Georgia, serif;
    text-align: center;
    width: 200px;
    height: 160px;
    /* border-top-right-radius: 15px; */
    /* border-bottom-right-radius: 15px; */
    /* border-radius: 0 15px 15px 0; */
    /* display: inline; */
    border-image-source: url('tree.jpg');
    border-image-width: 20px;
    border-image-slice: 30%;
    /* border-image-slice: 30% 50%; */
    border-image-repeat:space;
    /* border-color: gray; */
    border-style: dotted;
    /* box-shadow: 1px 1px 6px -2px black; */
    outline: 2px solid lightgray;
    margin-top: 50px;
    padding: 15px;
}

.second {
    /* display: none; */
    visibility: hidden;
}

/* .head, .html {
    background-color: rgb(238, 238, 238);
    color: gray;
    font-size: 16px;
    padding: 15px 0 15px 10px;
    text-align: left;
    border-radius: 5px;
    border: 0.5px solid gray;
    box-shadow: 1px 1px 6px -2px black;
    margin: 10px 17px 15px 5px;
    display: block;
}

.html {
    height: 325px;
}

.body {
    background-color: #FBE4D5;
    background-position: 50% 50px; 
    color: gray;
    font-size: 16px;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    border: 0.5px solid gray;
    box-shadow: 1px 1px 6px -2px black;
    margin: 10px 17px 15px 5px;
    display: block;
    height: 160px;
}

p {
    margin: 0;
}

.text {
    line-height: 2.2;
    padding: 10px 20px;
    color: rgb(56, 56, 56);
    text-align: center;
} */