@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap&family=PT+Serif');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
}

ul {
    padding: 0;
}

ul li {
    display: inline-block;
}

a {
    text-decoration: none;
}

span {
    color: #50b9e1;
}

h2 {
    font-family: "PT Serif", serif;
    font-size: 32px;
    letter-spacing: 2px;
    font-style: italic;
    margin: 0;
    padding-bottom: 35px;
}

.navigation {
    padding: 0 20px;
}

.site-title {
    font-size: 26px;
    display: inline-block;
    width: 720px;
}

nav {
    display: inline-block;
}

nav ul li:not(:last-child) {
    padding-right: 15px;
}

nav ul li a {
    color: #474747;
}

nav ul li a:hover {
    color: #50b9e1;
}

.navigation ul li ul {
    padding-left: 15px;
}

.navigation ul li ul li:not(:last-child) {
    padding-right: 5px;
}

.navigation ul li ul li a i {
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
}

.navigation ul li ul li a i:hover {
    border-color: #50b9e1;
    color: #50b9e1;
}

.site-header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url('./Images/kids_main.jpg') no-repeat center;
    background-size: cover;
    padding-left: 100px;
}

.site-header h1 {
    color: white;
    font-size: 66px;
    letter-spacing: 2px;
    margin: 0;
    width: 50%;
    padding: 200px 0 50px 0;
}

.site-header button {
    color: white;
    border: 2px solid white;
    padding: 10px 15px;
    background-color: transparent;
    font-size: 26px;
    margin: 0 0 200px 0;
}

.site-header button:hover {
    background-color: #50b9e1;
    border-color: #50b9e1;
}

.welcome {
    text-align: center;
    color: #5A7C8A;
    padding: 50px 0;
    width: 60%;
    margin: 0 auto;
}

.offers {
    background-color: #43BAE3;
    color: white;
    text-align: center;
    padding: 50px 0;
    font-size: 16px;
}

.offers ul li {
    width: 420px;
    padding: 25px 50px;
}

.offers ul li img {
    width: 70px;
}

.offers ul li a {
    color: white;
    font-family: "PT Serif", serif;
}

.camps {
    text-align: center;
    color: #5A7C8A;
    padding: 50px 0;
}

.camps > p {
    width: 50%;
    margin: 0 auto 50px auto;
}

.camps ul li {
    width: 400px;
    text-align: left;
}

.camps ul li:not(:last-child) {
    margin-right: 45px;
}

.camps ul li img {
    width: 100%;
    height: 220px;
}

.camps .info {
    padding-bottom: 8px;
    border-bottom: 2px solid #5A7C8A;
}

.camps .info h3 {
    font-size: 18px;
    letter-spacing: 0.5px;
    margin: 0;
}

.camps ul li .info div {
    display: inline-block;
    vertical-align: top;
}

.camps ul li .info p {
    margin: 0;
}

.camps ul li .info div:last-child p {
    font-size: 34px;
    margin: 0 0 0 200px;
    background-color: #43BAE3;
    color: white;
    padding: 8px 5px;
}

.camps .more-info button {
    color: #43BAE3;
    border: 2px solid #43BAE3;
    background-color: transparent;
    padding: 8px 12px;
    font-size: 18px;
}

.camps .more-info button:hover {
    background-color: #43BAE3;
    color: white;
}