*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
}

h2 {
    font-size: 18px;
    border: 3px solid rgb(153, 153, 153);
    background-color: white;
    border-radius: 4px;
    padding: 8px 18px;
    justify-content: center;
    margin: 20px auto 0 auto;
}

.timeline {
    display: flex;
    width: calc(100% - 40px);
    flex-flow: column nowrap;
    border: 0.3rem solid rgb(153, 153, 153);
    position: absolute;
    top: 20px;
    left: 20px;
}

.timeline::after {
    content: "";
    width: 5px;
    height: calc(100% - 20px);
    background-color: rgb(153, 153, 153);
    position: absolute;
    left: 50%;
    top: 20px;
    z-index: -1;
}

h3 {
    font-style: italic;
}

article {
    width: 50%;
    padding: 0 40px;
}

.right {
    align-self: flex-end;
    position: relative;
}

.left {
    align-self: flex-start;
    text-align: right;
    position: relative;
}

.right::before {
    content: '';
    background-color: #048E03;
    border: 3px solid rgb(153, 153, 153);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: -8px;
}

.left::after {
    content: '';
    background-color: #FF9A05;
    border: 3px solid rgb(153, 153, 153);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: calc(100% - 8px);
}

p {
    line-height: 1.4;
}

@media screen and (max-width: 600px) {
    .timeline {
        padding-right: 20px;
    }
    
    h2 {
        margin: 20px;
    }

    article, .right, .left {
        width: 100%;
        padding: 0 40px;
        margin-left: 70px;
        text-align: left;
    }

    .right, .left {
        align-self: flex-start;
        margin-left: 40px;
    }

    .timeline::after {
        left: 40px;
    }

    .left::before {
        content: '';
        background-color: #FF9A05;
        border: 3px solid rgb(153, 153, 153);
        border-radius: 100%;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 20px;
        left: -8px;
    }

    .left::after {
        display: none;
    }
}