html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

body {
    margin: 70px auto;
    max-width: 1200px;
}

header {
    border-bottom: 2px solid rgb(51, 51, 51);
}

h1, nav {
    display: inline-block;
}

h1 {
    margin-right: 30px;
}

nav li {
    display: inline-block;
    padding: 0px 12px;
    font-size: 18px;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: rgb(73, 136, 73);
}