@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: Poppins, sans-serif;
    line-height: 1.45;
    display: flex;
    margin: 38px 185px;
    max-width: 1900px;
    color: #898989;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    color: #343434;
}

.content-title {
    font-size: 22px;
    letter-spacing: 0.1px;
    margin-bottom: 22px;
}

.content-text {
    font-size: 14px;
}

.content, .img {
    flex-basis: 41%;
}

.img {
    margin-left: 40px;
}

.img img {
    width: 100%;
}

.content-benefits {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-left: 0;
}

.content-benefit {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 15px;
}

.content-benefit-img {
    max-width: 48px;
    margin-right: 10px;
}

.content-benefit-img img {
    width: 100%;
}

.content-benefit-text-subtitle {
    margin: 0;
    font-size: 14px;
}