body {
    background-color: rgb(238, 238, 238);
    margin: 60px;
    width: 60%;
}

li {
    display: inline-block;
    border: 0.4rem solid black;
    padding: 10px;
    margin: 10px;
}

img {
    max-height: 400px;
}