.c-cta {
    display: inline-block;
    background-color: #44a9f8;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    align-self: center;
    padding: 10px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    box-shadow: 6px 8px 15px 1px rgba(27, 139, 249, .4);
}

.c-cta:hover {
    text-decoration: none;
}